.main {
  text-align:center;
}
.test {
  display:inline-block;
}
.addText {
  display:inline-block; /* inline-block so we can set a width */
  width:0;
  white-space:nowrap; /* keep text one line */
  direction:ltr; /* change direction so the text overflow on the left */
  color: rgba(255,255,255,0);
  transition: .5s;
  transform: translateX(20px); /* put the value you want here */
  pointer-events:none; /* to avoid the hover on the text, remove to see the difference */
}

.test:hover .addText {
  color: GhostWhite;
  transform: translateX(0);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

b {
  padding: 10px;
}

.test2 {
  display:inline-block;
  padding: 200px;
}
.addText2 {
  display:inline-block; /* inline-block so we can set a width */
  width:0;
  white-space:nowrap; /* keep text one line */
  direction:rtl; /* change direction so the text overflow on the left */
  color: rgba(255,255,255,0);
  transition: .5s;
  transform: translateX(20px); /* put the value you want here */
  pointer-events:none; /* to avoid the hover on the text, remove to see the difference */
}

.test2:hover .addText {
  color: GhostWhite;
  transform: translateX(0);
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 40px;
  width: 100px;
  height: 10px;
  background: red;
  transition: width 2s;
}

h5 {
  font-size: 40px;
  height: 10px;
  width: 0px;
  background: black;
  transition: width 2s;
  /*transition: height 2s;
  /*transition: width 2s;*/
}

.testAboutMe {
  /*display:inline-block;*/
  padding: 100px;
}

.addTestAboutMe {
  width:0;
  white-space:nowrap; /* keep text one line */
  direction:ltr; /* change direction so the text overflow on the left */
  color: rgba(255,255,255,0);
  transition: .5s;
  transform: translateX(100px); /* put the value you want here */
  pointer-events:none; /* to avoid the hover on the text, remove to see the difference */
}

.testAboutMe:hover .addTestAboutMe {
  color: GhostWhite;
  transform: translateX(0);
}

#h5 {transition-timing-function: ease-in;}
#h3 {transition-timing-function: ease-in;}

h5:hover {
  width: 300px;
  transition: width 2s;
}
h3:hover {
  width: 300px;
}

h6 {
  font-size: 40px;
  text-align:center;
}



